.head{
    padding: 2em;
    font-size: 2em;
    margin-bottom: -2em;
}

.videoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: rgba(233, 30, 99, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin: 5em;
    border: 1px solid #9575cd;
    border-radius: 20px;
}

.video{
    width: 60%;
    height: auto;
    object-fit: cover;
    filter: drop-shadow(0 0 10px #e91e63);
}

@media (max-width: 600px){
    .videoContainer{
    height: 50vh;
    margin: 1em;
}

.video{
    width: 80%;
    height: auto;
}

}